@import '@st/variables';
@import '@st/functions';

.wrapper_graf {
	display: flex;
	gap: adapt(20px, 1440px);
	width: 100%;

	> .block__categories {
		padding: adapt(20px, 1440px) 0px;
		display: flex;
		height: adapt(82px, 1440px);
		gap: adapt(20px, 1440px);

		> .name {
			text-transform: capitalize;
			padding: adapt(10px, 1440px);
			border-radius: adapt(10px, 1440px);
			text-align: center;
			font-size: 0.9rem;

			&:hover {
				cursor: pointer;
				background-color: $color_blue;
				color: $color_white;
			}
		}
	}
}

.name_active {
	background-color: $color_blue;
	color: $color_white;
	text-transform: capitalize;
	padding: adapt(10px, 1440px);
	border-radius: adapt(10px, 1440px);
	text-align: center;
	font-size: 0.9rem;

	&:hover {
		cursor: pointer;
	}
}
