@import '@st/variables';
@import '@st/functions';

.block__graph {
	// height: 81%;
	height: adapt(610px, 1440px);
	width: 100%;
	margin-top: adapt(16px, 1440px);
	margin-bottom: adapt(40px, 1440px);
	padding: adapt(16px, 1440px);
	background-color: $color_white;
	display: flex;
	flex-direction: column;

	> .block__title {
		display: flex;
		justify-content: space-between;

		> .block__buttons {
			height: adapt(42px, 1440px);
			border-radius: adapt(8px, 1440px);
			background-color: $color_very_light_blue;

			> button {
				height: 100%;
				border-radius: adapt(8px, 1440px);
				padding: adapt(8px, 1440px) adapt(12px, 1440px);
				font-size: 0.81rem;
				line-height: 1.4;

				&:hover {
					cursor: pointer;
				}
			}

			> .activeButton {
				color: $color_white;
				background-color: $color_blue;
			}
		}

		> .block__settings {
			height: adapt(33px, 1440px);
			display: flex;
			gap: 8px;

			> button {
				&:hover {
					cursor: pointer;
				}
			}

			> .button__description {
				width: adapt(258px, 1440px);
				// padding: adapt(8px, 1440px) adapt(13px, 1440px);
				height: 100%;
				border-radius: adapt(4px, 1440px);
				background-color: $color_very_light_blue;
				color: $color_blue;
				font-size: 0.75rem;
			}
			> .button__settings {
				border-radius: adapt(4px, 1440px);
				width: adapt(36px, 1440px);
				height: 100%;
				background-color: $color_very_light_blue;
			}
		}
	}

	> .container__graph {
		align-self: center;
		width: 100%;
		// height: 98%;
		height: adapt(556px, 1440px);
		display: flex;
		position: relative;
	}
}
