@import '@st/variables';
@import '@st/functions';
@import '@st/mixins';

.wrapper_menu {
	padding: adapt(16px, 1440px);
	padding-top: adapt(24px, 1440px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
	border-right: 1px solid $color_very_light_blue;
	margin-left: adapt(64px, 1440px);
	min-width: adapt(260px, 1440px);
	background-color: $color_very_light_grey;
	// animation: detail-menu-true 0.3s linear 1 forwards;

	> a {
		> .logo {
			width: adapt(136px, 1440px);
			height: adapt(28px, 1440px);
		}
	}
	> .menu {
		width: 100%;

		> .menu__list {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: adapt(3px, 1440px);

			> .menu__item {
				position: relative;
				padding: adapt(15px, 1440px) adapt(13px, 1440px);
				font-size: 0.81rem;
				line-height: 1.4;
				color: rgba($color: $color_black, $alpha: 0.6);
				display: flex;
				align-items: center;
				width: 100%;
				@include menu-item();

				> img {
					width: adapt(20px, 1440px);
					margin-right: adapt(13px, 1440px);
				}

				&:hover {
					cursor: pointer;
				}
			}

			> .menu__item_active {
				position: relative;
				background-color: $color_very_light_blue;
				font-size: 0.81rem;
				@include menu-item();
				color: $color_blue;
				display: flex;
				align-items: center;

				> img {
					width: adapt(20px, 1440px);
					margin-right: adapt(13px, 1440px);
				}

				&:hover {
					cursor: pointer;
				}
			}
		}

		> .menu__list_settings {
			display: flex;
			flex-direction: column;
			gap: adapt(5px, 1440px);
			width: 100%;

			> .menu__item {
				position: relative;
				padding: adapt(15px, 1440px) adapt(13px, 1440px);
				font-size: 0.81rem;
				line-height: 1.4;
				color: rgba($color: $color_black, $alpha: 0.6);
				display: flex;
				align-items: center;
				width: 100%;
				@include menu-item();

				> img {
					width: adapt(20px, 1440px);
					margin-right: adapt(13px, 1440px);
				}

				&:hover {
					cursor: pointer;
				}
			}

			> .menu__item_active {
				position: relative;
				background-color: $color_very_light_blue;
				font-size: 0.81rem;
				@include menu-item();
				color: $color_blue;
				display: flex;
				align-items: center;

				> img {
					width: adapt(20px, 1440px);
					margin-right: adapt(13px, 1440px);
				}

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

.not_ready {
	position: absolute;
	top: 0;
	left: 120%;
	z-index: 100;
	width: adapt(180px, 1440px);
	background-color: $color_white;
	border: 1px solid rgba($color: $color_black, $alpha: 0.2);
	padding: adapt(10px, 1440px) adapt(20px, 1440px);
	border-radius: adapt(8px, 1440px);
	color: $color_black;
}
