$fz_standart: 16px;

//colors
$color_blue: #1760e8;
$color_black: #1e1e1e;
$color_white: #fff;
$color_red: #cc3d3d;
$color_green: #3dcc6d;
$color_very_light_grey: #f5f5f7;
$color_full_black: #000;
$color_very_light_blue: #eceff6;

$color_twelve: #ecf2fd;
