@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Rubik:wght@400;500;600&display=swap');
@import './variables';

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	// height: 100%;
	height: 100vh;
	font-size: $fz_standart;
	font-family: 'Rubik', sans-serif;
	color: $color_black;
	background-color: $color_very_light_grey;

	@media (max-width: 1440px) {
		font-size: 15px;
	}

	@media (max-width: 1340px) {
		font-size: 14px;
	}

	@media (max-width: 1240px) {
		font-size: 13px;
	}

	@media (max-width: 1140px) {
		font-size: 12px;
	}

	@media (max-width: 1040px) {
		font-size: 11px;
	}
}

#root {
	height: 100vh;
}
