@import '@st/variables';
@import '@st/functions';

.wrapper_dataSet {
	width: 100%;
	height: 100%;
	padding-top: adapt(24px, 1440px);
}

.block__tabs {
	font-size: 1.12rem;
	display: flex;
	gap: adapt(23px, 1440px);
	padding-bottom: adapt(4px, 1440px);
	position: relative;
	border-bottom: 2px solid rgba($color: $color_very_light_blue, $alpha: 0.04);
	width: max-content;

	> .tab__button {
		background-color: transparent;

		&:hover {
			cursor: pointer;
		}
	}

	> .block__target {
		position: absolute;
		bottom: -3%;
		background-color: $color_blue;
		height: adapt(4px, 1440px);
		border-top-left-radius: adapt(4px, 1440px);
		border-top-right-radius: adapt(4px, 1440px);
	}
}

.block__content {
	padding-top: adapt(92px, 1440px);
	position: relative;
	padding-right: adapt(44px, 1440px);
	display: flex;
	flex-wrap: wrap;
	gap: adapt(24px, 1440px);
	height: 100%;

	> .block__field {
		position: absolute;
		right: adapt(44px, 1440px);
		top: adapt(32px, 1440px);
		display: flex;
		align-items: center;
		gap: adapt(8px, 1440px);
		padding: adapt(12px, 1440px) adapt(11px, 1440px);
		background-color: $color_white;
		border-radius: adapt(8px, 1440px);
		max-width: adapt(285px, 1440px);
		border: 1px solid rgba($color: $color_black, $alpha: 0.12);

		> .image__search {
			width: adapt(12px, 1440px);
			height: adapt(14px, 1440px);
		}
		> .input__search {
			font-size: 0.72rem;
			color: $color_black;
			outline: none;

			&::placeholder {
				color: rgba($color: $color_black, $alpha: 0.6);
			}
		}
	}
}

.block__noDat {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

	> button {
		width: adapt(132px, 1440px);
		height: adapt(30px, 1440px);
		border-radius: adapt(8px, 1440px);
		background-color: $color_blue;
		font-size: 0.66rem;
		font-weight: 400;
		line-height: 1.4;
		color: $color_white;

		&:hover {
			cursor: pointer;
		}
	}

	> .title {
		font-size: 1.55rem;
		font-weight: 500;
		margin-bottom: adapt(16px, 1440px);
	}

	> .description {
		text-align: center;
		max-width: adapt(450px, 1440px);
		margin-bottom: adapt(24px, 1440px);
		font-size: 0.77rem;
		color: rgba($color: $color_black, $alpha: 0.6);

		> span {
			font-weight: 500;
		}
	}
}
