@import '@st/variables';
@import '@st/functions';
@import '@st/mixins';

.wrapper_data {
	width: adapt(285px, 1440px);
	position: relative;
}

.block__data {
	@include settings-for-search(100%);
}

.block__options {
	width: 100%;
	box-shadow: 0px 4px 10px rgba($color: $color_full_black, $alpha: 0.1);
	border: 1px solid rgba($color: $color_black, $alpha: 0.08);
	border-radius: adapt(8px, 1440px);
	padding: adapt(16px, 1440px);
	display: flex;
	flex-direction: column;
	gap: adapt(18px, 1440px);
	position: absolute;
	top: 115%;
	background-color: $color_white;
	z-index: 9000;
	max-height: adapt(300px, 1440px);
	overflow-y: auto;
	overflow-x: hidden;

	-ms-overflow-style: none; /* Internet Explorer и Edge */
	scrollbar-width: none; /* Полностью скрыть скроллбар */
	&::-webkit-scrollbar {
		display: none; /* Скрыть скроллбар */
	}
}

.group {
	display: flex;
	flex-direction: column;
	gap: adapt(8px, 1440px);
}

.groupTitle {
	font-weight: 500;
	font-size: 0.87rem;
	color: $color_black;
	text-transform: capitalize;
}

.option {
	font-size: 0.87rem;
	line-height: 1.2;
	color: rgba($color: $color_black, $alpha: 0.6);
	position: relative;
	display: flex;
	align-items: center;
	gap: adapt(10px, 1440px);

	&:hover {
		cursor: pointer;
	}

	> input {
		&:hover {
			cursor: pointer;
		}
	}
}
