@import '@st/variables';
@import '@st/functions';

.block__auth {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: adapt(446px, 1440px);
	height: adapt(432px, 1440px);
	border-radius: adapt(8px, 1440px);
	border: 1px solid rgba($color: $color_black, $alpha: 0.12);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
	background-color: $color_very_light_grey;
	padding: adapt(43px, 1440px) adapt(51px, 1440px) adapt(50px, 1440px)
		adapt(59px, 1440px);

	> .logo__image {
		width: adapt(136px, 1440px);
		height: adapt(28px, 1440px);
		margin-bottom: adapt(24px, 1440px);
	}

	> .title {
		font-size: 1.125rem;
		line-height: normal;
		font-weight: 500;
		margin-bottom: adapt(18px, 1440px);
	}

	> .form {
		margin-bottom: adapt(30px, 1440px);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: adapt(16px, 1440px);

		> .block__field {
			display: flex;
			flex-direction: column;
			gap: adapt(8px, 1440px);

			> span {
				padding-left: adapt(8px, 1440px);
				color: $color_red;
				font-size: 0.8125rem;
				line-height: 1.4;
				font-weight: 400;
			}
		}
	}
}
