@import '@st/variables';
@import '@st/functions';
@import '@st/mixins';

.block__card {
	padding: adapt(10px, 1440px);
	border-radius: adapt(10px, 1440px);
	border: 1px solid rgba($color: $color_black, $alpha: 0.1);
	max-width: adapt(700px, 1440px);

	> h3,
	p {
		font-style: italic;
		> span {
			font-style: normal;
			font-weight: 500;
		}
	}
}
