@import '@st/variables';
@import '@st/functions';

.logo {
	width: adapt(136px, 1440px);
	height: adapt(28px, 1440px);
	margin-bottom: adapt(14px, 1440px);
}

.description {
	font-size: 0.75rem;
	line-height: 1.4;
	font-weight: 400;
	color: rgba($color: $color_black, $alpha: 0.7);
	margin-bottom: adapt(33px, 1440px);
}

.title {
	font-size: 2rem;
	font-weight: 600;
	color: $color_black;
	text-align: center;
	margin-bottom: adapt(46px, 1440px);
}

.block__choice {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: adapt(16px, 1440px);
	max-width: adapt(830px, 1440px);
	// max-width: adapt(900px, 1440px);
}
